.container-fluid.main-container {
  background-color: #ffffff !important;
  padding-bottom: 20px;
}

body {
  font-size: 16px;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(visuals/site_background.jpg);
  background-repeat: no-repeat;
}

.navbar-brand {
  background-image: url(visuals/site_tree.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
  margin-left: 5px;
}

.header-card {
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    color: black;
}
